body{
    overflow: hidden;
  }

    .container{
        width: 30vw;
        height: 80vh;
    }

    .session {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;  
    }